*~
common/classes/
common/dist/
laptop/classes/
laptop/lib/
android/gen/
android/bin/*
!android/bin/CStartActivity-debug.apk
android/google-play-services_lib/bin/
android/google-play-services_lib/gen/
